.cards{
    position: relative;
    .left{
        position: absolute;
        bottom: 370px;
        left: 20px;
        cursor: pointer;
    }
    .right{
        position: absolute;
        bottom: 370px;
        right: 20px;
        cursor: pointer;

    }
    .container{
        b{
            font-weight: 700;
            font-size: 30px;
            line-height: 36.75px;
            text-align: center;
            display: block;
            margin-bottom: 85px;
        }
        .cards__wrapper{
            display: flex;
            justify-content: center;
            gap: 30px;
            .card{
                width: 370px;
                height: 455px;
                border-radius: 8px;
                border: 1px solid black;
                cursor: pointer;
                margin-bottom: 159px;
               &:hover{
                .soums a{
                    color: white;
                }
                background-color: #114E86;
                color: white;
                border: none;
               }
                img{
                  margin: 0 auto;
                  display: block;
                  margin-top: 50px;
                  margin-bottom: 36px;
                }
                .card__text{
                   padding-left: 50px;
                    p{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19.5px;
                        span{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19.5px; 
                        }
                    }
                    .soums{
                        a{
                            display: block;
                        }
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 21.94px;
                        color: #114E86;
                        margin-top: 69px;
                       text-align: end;
                       margin-right: 35px;
                       &:hover{
                        color: white;
                       }
                    }
                }
                
            }
            
        }
    }
}